.auth-modal {
    width: 0%;
    padding: 1% 2% 5%;
    margin: 25% auto;
    text-align: center;
    background-color: #ccc;
    z-index: 1000;
}

.auth-modal-invisible {
    display: none;
}

.auth-modal {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 0%;
    padding: 1%;
    margin: 5.5% auto;
    display: none;
    transition: .5s;
}

.auth-modal--active {
    display: block;
    -webkit-animation: authModal-grow-mobile .2s linear forwards;
    animation: authModal-grow-mobile .2s linear forwards;
}

.auth-modal__info-span {
    font-size: .75rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2% 8% 0 0;
}

.auth-modal__cancel-icon {
    position: absolute;
    top: 1%;
    right: 1%;
    color: #A10606;
    font-size: 1.3rem;
    cursor: pointer;
}

.auth-modal__form {
    border-top: 1px solid black;
    margin-top: 1%;
}

.auth-modal__input-wrapper {
    margin: 3% 0;
}

.auth-modal__checkbox-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    background-color: rgb(216, 215, 215);
    padding: .5%;
    margin: 5% 0;
    font-family: var(--main-font);
    font-size: .75rem;
}

.auth-modal__password-reset {
    width: 80%;
    padding: 1%;
}

.auth-modal__label {
    width: 100%;
}

.auth-modal__input {
    border: 1px solid var(--main-color);
    border-radius: 5px;
    width: 100%;
    padding: 1%;
    font-size: 1rem;
}

.auth-modal__login-button {
    width: 45%;
    background-color: green;
    font-family: var(--main-font);
    letter-spacing: 2px;
    font-size: 1rem;
    color: #fff;
    padding: .5% 3%;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    cursor: pointer;
}

.auth-modal__a {
    color: var(--main-color);
    margin-top: 5%;
}

.auth-modal__login-button:disabled, .auth-modal__login-button:disabled:hover {
    background-color: transparent;
    color: #fff;
    cursor: auto;
}

@media (orientation: landscape) {
    .auth-modal {
        padding: 2%;
    }
    .auth-modal__cancel-icon {
        font-size: 1.3rem;
        margin-bottom: 0%;
    }
    .auth-modal__info-span {
        font-size: 1rem;
    }
    .auth-modal__login-button {
        width: 45%;
        font-size: 1rem;
    }
    .auth-modal__a {
        margin-top: 2%;
        font-size: 1.1rem;
    }
}

@media (min-width: 1024px) {
    .auth-modal {
        position: absolute;
        right: 10%;
        width: 0%;
        padding: 1%;
        margin: 5.5% auto;
        display: none;
        transition: .5s;
    }
    .auth-modal--active {
        display: block;
        -webkit-animation: authModal-grow .2s linear forwards;
        animation: authModal-grow .2s linear forwards;
    }
    .auth-modal__cancel-icon {
        font-size: 1.5rem;
        margin-bottom: 0%;
        transition: .3s;
    }
    .auth-modal__cancel-icon:hover {
        transform: rotate(45deg);
        transition: .2s;
    }
    .auth-modal__info-span {
        font-size: 1rem;
        letter-spacing: 2px;
        text-shadow: 1px 1px 0 #fff;
        padding: 0 10%;
    }
    .auth-modal__login-button {
        width: 35%;
        font-size: 1rem;
        transition: .3s;
        margin-bottom: 3%;
    }
    .auth-modal__checkbox-div {
        padding: .5%;
        margin: 4% 0;
        font-family: var(--main-font);
        font-size: .85rem;
    }
    .auth-modal__password-reset {
        width: 80%;
        padding: 1%;
    }
    .auth-modal__login-button:hover {
        color: var(--main-color);
        background-color: #fff;
        transition: .3s;
    }
}

@-webkit-keyframes authModal-grow {
    to {
        width: 45%;
    }
}

@keyframes authModal-grow {
    to {
        width: 45%;
    }
}

@-webkit-keyframes authModal-grow-mobile {
    to {
        width: 80%;
    }
}

@keyframes authModal-grow-mobile {
    to {
        width: 80%;
    }
}