.button {
    font-size: 1rem;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    background-color: transparent;
    border-radius: 5px;
    padding: 3px 5px;
    letter-spacing: 1px;
    font-family: var(--main-font);
    cursor: pointer;
    transition: .4s;
}

.button:hover {
    color: var(--minor-color);
    transition: .4s;
}

.pulse {
    animation: pulse 1.3s infinite alternate linear;
}

.pulse:hover {
    animation-play-state: paused;
}

@keyframes pulse {
    to {
        transform: scale(1.02);
    }
}

.btn-arrow-right {
    display: none;
}

.btn-arrow-right--active {
    display: inline-block;
    color: var(--green-color);
    margin-left: 5px;
    animation: btn-arrow-right 1.3s linear infinite alternate;
}

@keyframes btn-arrow-right {
    to {
        transform: translateX(5px);
    }
}