.student__topic {
    /* display: none; */
    flex-direction: column;
    flex-basis: 100%;
    margin-top: 1%;
    padding: 1%;
    width: 100%;
    color: #fff;
    box-shadow: 1px 2px 3px var(--main-color);
    transition: .3s;
    margin-top: 3%;
    background-color: #262526;
}

.group-details__topic-li {
    display: flex;
    color: #fff;
    font-weight: 100;
}

.topic__i-pen {
    padding: 1%;
    color: var(--green-color);
    background-color: #fff;
    border-radius: 2px;
    align-self: flex-end;
    transition: .1s;
}

.topic__i-pen:hover {
    cursor: pointer;
    background-color: rgb(15, 216, 15);
    color: #fff;
    transition: .1s;
}

.topic__i-trash {
    font-size: 1.1rem;
    margin-right: 1%;
    color: rgb(192, 38, 38);
    padding: 5px 4px;
    align-self: flex-end;
    transition: .1s;
    border-radius: 2px;
}

.topic__i-trash:hover {
    cursor: pointer;
    color: rgb(248, 10, 10);
    /* border-color: #fff; */
    background-color: rgb(240, 240, 240);
    transition: .1s;
}

.student__paragraph-name {
    font-size: .8rem;
    padding: .5% 0;
}

.student__paragraph-desc {
    font-weight: normal;
    font-size: .7rem;
}

.student__attendance-present {
    color: var(--green-color);
    font-weight: bold;
}

.student__attendance-absent {
    color: red;
    font-weight: bold;
}

.student__attendance-list {
    font-size: .9rem;
}

.student__attendance-list-invisible {
    display: none;
}

.student__li-present, .student__li-absent {
    font-size: .7rem;
    margin: .5% 5%;
    color: var(--green-color);
    font-weight: 100;
    text-shadow: .5px black;
}

.student__li-absent {
    color: red;
}

@media(orientation:landscape) {
    .student__topic {
        flex-basis: 45%;
    }
}

@media(min-width: 1024px) {
    .student__topic {
        flex-basis: 32%;
        margin-top: 1%;
        border-radius: 5px;
    }
    .student__topic:hover {
        box-shadow: 6px 5px 5px #262526;
        transition: .5s;
        border-radius: 5px;
    }
    .topic__i-pen, .topic__i-trash {
        transform: translateX(100px);
    }
    .group-details__topic-li:hover .topic__i-pen, .group-details__topic-li:hover .topic__i-trash {
        transform: translateX(0);
        transition: .2s;
    }
    .group-details__topic-li:hover .topic__i-trash {
        transition-delay: .07s;
    }
    .student__paragraph-name {
        font-size: 1rem;
    }
    .student__paragraph-desc {
        font-weight: normal;
        font-size: .9rem;
    }
}